{% extends "base.html" %}

{% block content %}


<h2>Your Previous Blog Posts</h2>
{% if user %}
<div>Welcome, {{user.username}}!</div>
{% endif %}

{% for blogPost in blogPosts %}
<div class="post">
  <div class="post-heading">
    <div> <a href="/blogjson/{{ blogPost.key().id()|string }}" class="post-title">{{blogPost.title}}</a> </div>
    <div class="post-time"> Post Submitted On {{blogPost.createdtime}} </div>
  </div>
  <div class="post-content">{{blogPost.post}} </div>
  
</div>
{% endfor %}

<div class="footer">Queried {{querylag}} seconds ago</div>

<h2 style="color:#FF0000"; margin:0 height:50px>{{successmessage}}</h2>


{% endblock %}